{% extends 'main.html' %}

{% block content %}

<style>
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
</style>

<body>
    <div class="container">
        <div>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Add New Task</button>
            </form>
        </div>


        <div>
            <h2>To Do</h2>
            {% for task in tasks %}
                {% if task.status == 'ToDo' %}
                <p>{{ task.title }} <a href="{% url 'update_status' task.pk %}">Start</a></p>
                {% endif %}
            {% endfor %}
        </div>

        <div>
            <h2>In progress</h2>
            {% for task in tasks %}
                {% if task.status == 'InProgress' %}
                <p>{{ task.title }} <a href="{% url 'update_status' task.pk %}">Complete</a></p>
                {% endif %}
        {% endfor %}
        </div>

        <div>
            <h2>Completed</h2>
            {% for task in tasks %}
                {% if task.status == 'Completed' %}
                <p>{{ task.title }}</p>
                {% endif %}
        {% endfor %}
        </div>
    </div>
</body>

{% endblock %}